<launch>
	<node pkg="tf" type="static_transform_publisher" name="base_laser1_broadcaster" args="0.1016 0 0.5588 0 0 0 base_link base_laser1_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster_1" args="-0.46 0.195 0.7223 1.571 0 0 base_link sonar_1_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster_2" args="-0.455 -0.195 0.7223 -1.571 0 0  base_link sonar_2_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster_3" args="0.05 0.175 0.7223 0 0 0 base_link sonar_3_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster_4" args="-0.515 -0.005 0.7223 3.1416 0 0  base_link sonar_4_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster_5" args="0.05 -0.175 0.7223 0 0 0 base_link sonar_5_link 100" />

</launch>
