  <?xml version="1.0"?>
  <model>
    <name>wsn_harlie</name>
    <version>1.0</version>
    <sdf>urdf/wsn_harlie.urdf</sdf>
    <author>
      <name>wsn</name>
      <email>wsn@case.edu</email>
    </author>
    <description>
      Trying to get a model of Harlie into Gazebo
    </description>
  </model>
