<!-- This file should start up all sensors and do anything that might need to load calibration before mapping/planning turn on -->
<launch>
	<!-- Startup the base and sensors -->
	<include file="$(find cwru_base)/start_base.launch" />

	<!-- Startup the vision subsystem -->
	<include file="$(find cwru_vision)/start_vision.launch" />

	<!-- Startup the joystick stuff -->
	<include file="$(find cwru_teleop)/start_teleop.launch" />

</launch>
