<launch>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
		<param name="rate" value="100" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cwru_urdf)/harlie.urdf.xacro'" />
</launch>
