<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="abby_move_gripper">
        <param name="group" type="string" value="gripper" />
        <remap from="arm_ik" to="abby_gripper_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="gripper_controller/follow_joint_trajectory" />
    </node>
</launch>
