<launch>

<node name="harlie_wsn_steering" pkg="harlie_wsn_steering" type="harlie_wsn_steering">
<remap from="odometry" to="/harlie/odom" />
<param name="k_v" value="1.0" />
<param name="convergence_rate" value="1.0" />
</node>

<node name="harlie_wsn_ideal_state" pkg="harlie_wsn_steering" type="harlie_wsn_ideal_state" />

</launch>
