<launch>
	<node name="right" pkg="camera1394" type="camera1394" respawn="true" ns="stereo">
		<param name="guid" type="string" value="00b09d010062bd79"/>
		<param name="video_mode" value="640x480_mono" />
		<param name="fps" value="30" />
		<param name="bayer_pattern" value="GBRG" />
		<param name="bayer_method" value="Simple" />
		<param name="frame_id" value="right_camera" />
		<!-- param name="camera_info_manager/url" value="file:///opt/igvc_ros/harlie_vision/calibration/calibration_right_camera.yaml" /-->
	</node>
	<node name="left" pkg="camera1394" type="camera1394" respawn="true" ns="stereo">
		<param name="guid" type="string" value="00b09d010070c87a"/>
		<param name="video_mode" value="640x480_mono" />
		<param name="fps" value="30" />
		<param name="bayer_pattern" value="GBRG" />
		<param name="bayer_method" value="Simple" />
		<param name="frame_id" value="left_camera" />
		<!--param name="camera_info_manager/url" value="file:///opt/igvc_ros/harlie_vision/calibration/calibration_left_camera.yaml" /-->
	</node>
	<node name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" ns="stereo">
		<remap from="left" to="left/camera" />
		<remap from="right" to="right/camera" />
	</node>
</launch>
