<launch>
	<include file="$(find cwru_configs)/abby/base/static_transform.launch" />
  <node pkg="cwru_base" type="crio_receiver" name="crio_receiver" output="screen">
	<rosparam command="load" file="$(find cwru_configs)/abby/base/diagnostics.yaml" />
	<rosparam command="load" file="$(find cwru_configs)/abby/base/base.yaml" />
  </node>
    <node pkg="cwru_base" type="odom_translator.py" name="odom_translator">
        <rosparam command="load" file="$(find cwru_configs)/$(optenv ROBOT sim)/base/base.yaml" />
    </node>
  
  <include file="$(find cwru_configs)/abby/base/sonar.launch" />
  
  <node pkg="sicktoolbox_wrapper" type="sicklms" name="base_laser1" respawn="true">
      <param name="port" type="string" value="/dev/ttyUSB0" />    
      <param name="baud" type="int" value="500000" />
      <param name="frame_id" type="string" value="/base_laser1_link" />
      <param name="resolution" type="double" value="1.0" />
      <remap from="scan" to="base_laser1_scan" />
  </node>
  
  <node pkg="cwru_base" type="twist_receiver.py" name="twist_receiver">
	<rosparam command="load" file="$(find cwru_configs)/abby/base/base.yaml" />
  </node>
  <node pkg="sound_play" type="soundplay_node.py" name="sound_play" />

  <!-- start up the Kinect interface -->
  <include file="$(find openni_launch)/launch/openni.launch"/>

  <!-- start up the ros_industrial interface nodes -->
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" />
  <!-- copy the specified IP address to the Parameter Server, for use by nodes below -->
  <param name="/robot_ip_address" type="str" value="192.168.0.50"/>

  <!-- robot_state: publishes joint positions and robot-state data
    (from socket connection to robot) -->
  <node pkg="industrial_robot_client" type="robot_state" name="robot_state"/>
  <!-- motion_download_interface: sends robot motion commands by DOWNLOADING path to robot
   (using socket connection to robot) -->
  <node pkg="industrial_robot_client" type="motion_download_interface" name="motion_download_interface"/>


</launch>
