<launch>
	<node name="front_birds_eye_calibrator" pkg="tour_guide_vision" type="birds_eye_calibrator" respawn="false" output="screen" >
	  <remap from="image_rect_color" to="/front_camera/image_rect_color"/>
	  <param name="board_height" value="7"/>
	  <param name="board_width" value="6"/>
	  <param name="grid_width" value="0.0047"/>
	  <param name="grid_height" value="0.0047"/>
	  <param name="m_in_front_of_bot" value="0.172"/>
	  <param name="m_offset_lr_of_bot" value="0.1982"/>
	  <param name="m_per_output_pixel" value="0.005"/>
	  <param name="output_image_width" value="600"/>
	  <param name="output_image_height" value="600"/>
	  <param name="m_dist_to_projection_from_board_z" value="1.2"/>
	  <param name="flip" value="true"/>
	  <param name="H_path" value="$(find tour_guide_vision)/calibration/front_H.xml"/>
	  <param name="project" value="true"/>
	</node>
</launch>
