<launch>
	<node name="front_image_publisher" pkg="tour_guide_vision" type="image_publisher" respawn="false" output="screen" >
	  <remap from="output_image" to="/front_camera/image_raw"/>
	  <remap from="camera_spoof" to="front_camera"/>
	  <param name="publish_rate" value="5"/>
	  <param name="image_path" value="$(find tour_guide_vision)/calibration/outputfront.jpg"/>
	  <param name="camera_info_url" value="file://$(find tour_guide_vision)/calibration/camera_a.yaml"/>
	</node>
	<node pkg="image_proc" type="image_proc" name="proc_front" ns="front_camera" />
</launch>
