<launch>
  <param name="/use_sim_time" value="False" />
   
	<node pkg="image_proc" type="image_proc" name="proc_front" ns="front_camera" />

	<node name="vision_analyzer" pkg="tour_guide_vision" type="vision_analyzer" respawn="false" output="screen" >
	  <remap from="image_rect_color" to="/front_camera/image_rect_color"/>
	  <remap from="thresholded_image" to="front_thresholded_image"/>
	  <remap from="calibrated_image" to="front_calibrated_image"/>
		<param name="H_path" value="$(find tour_guide_vision)/calibration/front_H.xml"/>
		<param name="threshold" value="230.0"/>
		<param name="canny_threshold1" value="10.0"/>
		<param name="canny_threshold2" value="50.0"/>
		<param name="canny_aperture_size" value="3"/>
	  <param name="output_image_width" value="600"/>
	  <param name="output_image_height" value="600"/>
	</node>
</launch>
