<launch>
<node pkg="image_proc" type="image_proc" name="proc" ns="front_camera" />
	<node pkg="image_proc" type="image_proc" name="proc" ns="rear_camera" />
	<node name="vision_analyzer" pkg="tour_guide_vision" type="vision_analyzer" respawn="false" output="screen" >
	  <remap from="image_rect_color" to="/front_camera/image_rect_color"/>
	</node>
</launch>
