<launch>
    <arg name="irc5_ip" default="192.168.0.50" />
    <arg name="streaming" default="" />
    <arg name="connect" default="true" />
    <arg name="rviz" default="false"/>
    <include file="$(find industrial_robot_client)/launch/robot_interface_download.launch">
        <arg name="robot_ip" value="$(arg irc5_ip)"/>
    </include>
    <include if="$(arg rviz)" file="$(find abby_launch)/launch/rviz.launch"/>
</launch>
