<launch>
    <arg name="irc5_ip" default="192.168.0.50" />
    <arg name="streaming" default="" />
    <arg name="connect" default="true" />
    <arg name="rviz" default="false"/>
    <include file="$(find industrial_robot_client)/launch/robot_interface_download.launch">
        <arg name="robot_ip" value="$(arg irc5_ip)"/>
    </include>
    <!--node name="irc5_sender" pkg="irc5" type="motion_download_interface" args="$(arg irc5_ip)" if="$(arg connect)" /-->
    <!--node name="irc5_receiver" pkg="irc5" type="robot_state" args="$(arg irc5_ip)" if="$(arg connect)" /-->
    <node name="arm_state" pkg="robot_state_publisher" type="state_publisher" />
    <include file="$(find irb_120_arm_navigation)/launch/irb_120_planning_environment.launch" />
    <include if="$(arg rviz)" file="$(find abby_launch)/launch/rviz.launch"/>
    <node name="gripper" pkg="rosserial_python" type="serial_node.py" />
</launch>
