<launch>
	
	<!-- If rviz is set, start rviz -->
	<arg name="rviz" default="True" />
    <include file="$(find abby_launch)/launch/rviz.launch" if="$(arg rviz)" />
	
	<!-- If monitor is set, start runtime monitor -->
	<arg name="monitor" default="True" />
    <node pkg="runtime_monitor" type="monitor" name="monitor" if="$(arg monitor)" />
	
	<!-- If console is set, start rxconsole -->
	<arg name="console" default="True" />
    <node pkg="rxtools" type="rxconsole" name="console" if="$(arg console)" />
</launch>
