<launch>
	<arg name="joint_gui" default="True" />
	
    <include file="$(find abby_launch)/launch/abby.launch">
        <arg name="real_robot" value="False" />
        <arg name="joint_gui" value="$(arg joint_gui)" />
        <arg name="rviz" value="True" />
        <arg name="no_kinect" value="True" />
    </include>
</launch>
