<?xml version="1.0"?>
<robot name="cwru_hardware" xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="M_PI" value="3.14159"/>

  <include filename="$(find cwru_description)/urdf/gazebo.urdf.xacro"/>

<xacro:macro name="SICK_LMS291" params="xyz rpy parent_frame laser_frame" >
  <joint name="base_laser_joint" type="fixed">
    <origin xyz="${xyz}" rpy="${rpy}" />
    <parent link="${parent_frame}" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <child link="SICK_LMS291" />
  </joint>
  <link name="SICK_LMS291">
		<visual>
			<geometry>
				<mesh filename="package://cwru_description/meshes/sick_lms291.stl" scale="0.0254 0.0254 0.0254"/>
			</geometry>
			<origin rpy="0 0 0" xyz="-0.0683999139953 -0.00245779587475 -0.0929987962566"/>
			<material name="SICK_LMS2911_color">
				<color rgba="0.752941 0.752941 0.752941 1"/>
			</material>
		</visual>
		<inertial>
			<mass value="3.71737544502"/>
			<inertia ixx="0.0174805834039" ixy="-4.4195210288e-07" ixz="4.1599227461e-07" iyy="0.0127643577208" iyz="0.00072853444335" izz="0.0175041992098"/>
			<origin rpy="0 0 0" xyz="-0.0684016920036 0.0653465146418 -0.0708751847642"/>
		</inertial>
		<collision>
			<geometry>
				<mesh filename="package://cwru_description/meshes/sick_lms291.stl" scale="0.0254 0.0254 0.0254"/>
			</geometry>
			<origin rpy="0 0 0" xyz="-0.0683999139953 -0.00245779587475 -0.0929987962566"/>
		</collision>
	</link>

  <link name="${laser_frame}">
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001" />
    </inertial>
  </link>

  <joint name="SICK_laser_frame_joint" type="fixed">
    <origin xyz="-0.0683999139953 0.035 -0.0273" rpy="1.266 1.571 2.837" />
    <parent link="SICK_LMS291" />
    <child link="${laser_frame}" />
  </joint>

</xacro:macro>

</robot>
