<launch>
  <!--- Run AMCL -->
  <include file="$(find cwru_nav)/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT sim)/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT sim)/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT sim)/nav/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT sim)/nav/costmap_global_params.yaml" command="load" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT sim)/nav/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT sim)/nav/move_base_params.yaml" command="load" />
  </node>
</launch>
