<?xml version="1.0" ?>
<robot name="abby" xmlns:xacro="http://ros.org/wiki/xacro">
	<include filename="$(find abb_common)/urdf/irb_120_macro.xacro" />
	<include filename="$(find abby_description)/urdf/abby_no_arm_macro.xacro" />
	<xacro:irb_120 prefix="irb_120_"/>
    <xacro:abby_no_arm />
    <joint name="frame_arm" type="fixed">
        <parent link="frame1"/>
        <child link="irb_120_base_link"/>
		<origin rpy="3.1415926535 1.57079632679 0" xyz="0.046 -0.55 .75"/>
    </joint>
</robot>

