<launch>
	<arg name="model" default="/home/ed/ros/dev_stacks/cwru-ros-pkg/cwru_abby/abby_urdf/abby.urdf" />
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find abby_rviz)/urdf.vcg" />
</launch>
