<launch>
    <arg name="flatten_table" default="true" />
    <arg name="tabletop_segmentation_points_input" default="camera/depth_registered/points"/>

  <!-- segmentation -->
	<include file="$(find abby_object_manipulation_launch)/launch/tabletop_segmentation.launch">
	  <arg name="tabletop_segmentation_points_in" value="$(arg tabletop_segmentation_points_input)" />
	  <arg name="flatten_table" value="$(arg flatten_table)"/>
5	  <arg name="tabletop_segmentation_clustering_voxel_size" value="0.003" />
7	  <arg name="table_padding" value="0.02"/>
	</include>
</launch>
