<!-- NOTE: need to start roscore first/separately -->

<launch>

<!-- tried to auto-launch gazebo, but this did not work. Race condition? run it manually with: -->
<!--rosrun gazebo_ros gazebo -->
<!--node name="gazebo" pkg="gazebo_ros" type="gazebo" -->


<!--load abby urdf model into Gazebo -->
<!-- rosrun gazebo_ros spawn_model -file ./abby_no_arm_urdf.xacro -urdf  -model abby-->

<!--node name="spawn_urdf" pkg= "gazebo_ros" type="spawn_model" args="-file $(find abby_description)/urdf/abby_no_arm_urdf.xacro -urdf  -model abby" -->
<!-- instead, include this separate launch file, which also works from a command line -->
<include file="$(find abby_description)/launch/spawn_abby.launch"/>

<!-- Convert an xacro and put on parameter server -->
<!--param name="robot_description" command="$(find xacro)/xacro.py $(find abby_description)/urdf/abby_no_arm_urdf.xacro" -->
<!--instead, include this launch file to do it; also works from command line -->
 <include file="$(find abby_description)/launch/abby_param.launch"/>


<!--publish missing wheel transforms as static for rviz -->
 <include file="$(find abby_description)/launch/wheel_tf.launch"/>

 <!-- Show in Rviz; use an rviz config file   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find abby_description)/abby_rviz.rviz"  />

 <!-- start up wsn's primitive abby simulator...acts on cmd_vel -->
 <node name="abby_simu" pkg="abby_simu" type="abby_simu_v1" />

</launch>
