<!-- -->
<launch>
    <include file="$(find cwru_nav)/start_tour_guide_no_nav.launch" />

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find cwru_configs)/$(optenv ROBOT roberto)/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT roberto)/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT roberto)/nav/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT roberto)/nav/costmap_global_params.yaml" command="load" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT roberto)/nav/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find cwru_configs)/$(optenv ROBOT roberto)/nav/move_base_params.yaml" command="load" />
  </node>
</launch>
