<?xml version="1.0" ?>
<robot name="abby" xmlns:xacro="http://ros.org/wiki/xacro">
	<include filename="$(find abb_common)/urdf/irb_120_macro.xacro" />
	<include filename="$(find abby_description)/urdf/abby_no_arm_macro.xacro" />
	<include filename="$(find abby_description)/urdf/gripper_macro.xacro" />
	<xacro:irb_120 prefix="irb_120_"/>
    <xacro:abby_no_arm />
    <xacro:abby_gripper />
	<xacro:kinect xyz="0.508 -0.010 1.601" rpy="0.045 0.880 0.0" parent_frame="base_link" />
	<link name="base_link">
	</link>
	<link name="dummy">
	</link>
	<joint name="base_joint" type="fixed">
	    <parent link="base_link"/>
	    <origin rpy="0 0 1.570795" xyz="-0.07963916 -0.04203954 0.11" />
	    <child link="frame1"/>
	</joint>
	<joint name="base_dummy" type="fixed" >
	    <parent link="base_link" />
	    <child link="dummy" />
	    <origin xyz="0.379 0.033 0.858" rpy="3.142 1.571 1.571" />
	</joint>
	<joint name="dummy_arm" type="fixed" >
	    <parent link="dummy" />
	    <child link="irb_120_base_link" />
	    <!--origin xyz="-0.032 -0.006 0.043" rpy="0.026 0.025 -0.047" /--> <!-- 1-10, 21-25 -->
	    <!--origin xyz="-0.028 -0.006 0.040" rpy="0.026 0.015 -0.044" /--> <!-- 1-10, 16-25 -->
	    <!--origin xyz="-0.028 -0.006 0.040" rpy="0.026 0.015 -0.044" /--> <!-- 1-10, 16-30 -->
	    <origin xyz="-0.028 -0.006 0.038" rpy="0.026 0.015 -0.044" /> <!-- 1-10, 16-30, tweaked -->
	    <!--origin xyz="-0.03 .01 0.035" rpy="0.025 0.032 -0.05" /--> <!--Visually aligned -->
	</joint>
    <!--joint name="frame_arm" type="fixed" -->
        <!--axis xyz="1 0 0"/-->
        <!--parent link="frame1"/-->
        <!--child link="irb_120_base_link"/-->
		<!--origin rpy="-0.069 1.542 3.028" xyz="0.051 -0.489 0.760" /-->
		<!--origin rpy="-0.572 1.525 2.433" xyz="0.085 -0.507 0.771" /-->
		<!--origin rpy="-0.055 1.571 -3.142" xyz="0.02 -0.477 0.780" /-->
		<!--origin rpy="3.142 1.571 0" xyz="0.033 -0.477 0.760" /-->
    <!--/joint-->
    <joint name="arm_gripper" type="fixed">
        <parent link="irb_120_link_6"/>
        <child link="gripper_body"/>
		<origin rpy="0 0 -0.7" xyz="0 0 0"/>
    </joint>
</robot>

