<launch>

<!-- start gazebo with an empty plane --> 
<param name="/use_sim_time" value="true" />

<node name="map_server" type="map_server" pkg="map_server" args="$(find cwru_maps)/maps/2nd_floor_one_door.yaml" />

<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find cwru_maps)/gazebo_worlds/2nd_floor_1000hz.world" respawn="false" output="screen" />

<include file="$(find cwru_sim_gazebo)/spawn_harlie.launch" />

</launch>

