<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find cwru_sim_stage)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cwru_sim_stage)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cwru_sim_stage)/config/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find cwru_sim_stage)/config/costmap_global_params_outdoor.yaml" command="load" />
    <rosparam file="$(find cwru_sim_stage)/config/base_local_planner_params_outdoor.yaml" command="load" />
    <rosparam file="$(find cwru_sim_stage)/config/move_base_params.yaml" command="load" />
  </node>
</launch>
