<launch>
	<!-- Make ROS use simulator time instead of current clock time -->
    <param name="/use_sim_time" value="true" />

      <!--- Run AMCL -->
    <include file="$(find cwru_sim_stage)/amcl_diff.launch" />
    
    <!-- Startup the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find cwru_maps)/maps/2nd_floor_one_door.yaml" />

    <!-- Startup the Stage simulator on the 2nd floor -->
    <node pkg="stage" type="stageros" name="stageros" args="$(find cwru_maps)/worlds/2nd_floor_one_door.world" respawn="false" /> 
</launch>
