<launch>
	<!-- Make ROS use simulator time instead of current clock time -->
    <param name="/use_sim_time" value="true" />

    <!-- Startup the Stage simulator on the 2nd floor -->
    <node pkg="stage" type="stageros" name="stageros" args="$(find cwru_maps)/worlds/thinkbox.world" respawn="false" /> 

      <!--- Run AMCL -->
    <include file="$(find cwru_nav)/start_tour_guide_nav.launch" />

    <include file="$(find tour_guide_executive)/../rviz.launch" />
</launch>
