<!---->
<launch>
	<!-- Make ROS use simulator time instead of current clock time -->
    <param name="/use_sim_time" value="true" />

    <!--- Run AMCL -->
    <include file="$(find cwru_sim_stage)/amcl_diff.launch" />

    <!-- Localization map server -->
    <node pkg="map_server" type="map_server" name="localization_map_server" args="$(find cwru_maps)/maps/thinkbox_localization/map.yaml" />

    <group ns="obstacle">
      <node pkg="map_server" type="map_server" name="obstacle_map_server" args="$(find cwru_maps)/maps/thinkbox_obstacles/map.yaml" />
    </group>
    <include file="$(find cwru_nav)/start_map_as_sensor.launch" />
    <include file="$(find cwru_nav)/sonar_filter.launch" />

    <!-- Startup the Stage simulator on the 2nd floor -->
    <node pkg="stage" type="stageros" name="stageros" args="$(find cwru_maps)/worlds/thinkbox.world" respawn="false" /> 

  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
