<launch>

  <!-- Bring up Kinect and processing nodelets -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" value="false" />
  </include>

  <!-- Extrinsic transform publisher -->
  <include file="$(find camera_pose_calibration)/blocks/calibration_tf_publisher.launch">
    <arg name="cache_file" value="/tmp/kinect_extrinsics_cache.bag" />
  </include>

</launch>
